@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Admin";
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="page-title">
        <h2>@ViewData["Title"]</h2>   
    </div>
    <div class=""></div>
</div>
